APScheduler==3.11.0
asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.12.14
charset-normalizer==3.4.1
Django==5.0.10
django-apscheduler==0.7.0
django-cron==0.6.0
django-crontab==0.7.1
idna==3.10
numpy==2.2.1
pytz==2024.2
requests==2.32.3
soupsieve==2.6
sqlparse==0.5.3
tzdata==2024.2
tzlocal==5.2
urllib3==2.3.0
winfcntl==1.1.9
